body{
    background-color:#ffcea9 ;
}

h2{
    color: brown;
}
img{
    width: 300px;
    float: right;
}
h3{
    color: brown;
}

.sublinhado{
    text-decoration-line: underline;

}

.egito{
    color: gray;
}

.right_img{
    width: 30%;
    al
    
}